<div class="alert alert-danger" role="alert"><h2>Failed!</h2>

エラーが発生しました：</div>
<% unless @lint.well_formed? %>
  <table class="table table-striped">
  <thead>
    <tr>
      <th>line</th>
      <th>message</th>
    </tr>
  </thead>
  <tbody>
<tr>
  <td><%= @lint.syntax_errors.line %></td>
  <td><%= @lint.syntax_errors.message %></td>
</tr>
  </tbody>
</table>
<% else %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>line</th>
      <th>code</th>
      <th>message</th>
    </tr>
  </thead>
  <tbody>
<% @lint.errors.each do |error| %>
<tr>
  <td><%= error.line %></td>
  <td><%= error.message %></td>
</tr>
<% end %>
  </tbody>
</table>
<% end %>
